* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: black;
    height: 80vh;
    width: 17vw;
    border-radius: 30px;
}

.container {
    height: 200px;
    width: 200px;
    /* background: violet; */
    margin: 10px;
    border-radius: 50%;
}

#container1 {
    background: rgb(192, 10, 10);
    animation: red1 60s linear;
    display: flex;
    justify-content: center;
    align-items: center;
}

#container2 {
    background: rgb(221, 221, 16);
    animation: yellow1 3s 90s linear;
    display: flex;
    justify-content: center;
    align-items: center;
}


#container3 {
    background: rgb(10, 161, 10);
    animation: green1 30s 60s linear;
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes red1 {

    0%,
    100% {
        box-shadow: 0px 0px 40px 15px rgb(252, 37, 37);
        background: red;
    }
}

@keyframes yellow1 {

    0%,
    100% {
        box-shadow: 0px 0px 40px 15px rgb(248, 223, 82);
        background: yellow;
    }
}

@keyframes green1 {

    0%,
    100% {
        box-shadow: 0px 0px 40px 15px rgb(35, 255, 20);
        background: rgb(16, 219, 16);
    }
}


#red1 {
    color: #FFFFFF;
    text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #49ff18, 0 0 30px #49FF18, 0 0 40px #49FF18, 0 0 55px #49FF18, 0 0 75px #49ff18;
    font-size: 2em;
    animation: display1 60s;
    /* display: none; */
}

#green1 {
    color: #FFFFFF;
    text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #49ff18, 0 0 30px #49FF18, 0 0 40px #49FF18, 0 0 55px #49FF18, 0 0 75px #49ff18;
    font-size: 2em;
    animation: display2 30s 60s;
    /* display: none; */
}

#yellow1 {
    color: #FFFFFF;
    text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #49ff18, 0 0 30px #49FF18, 0 0 40px #49FF18, 0 0 55px #49FF18, 0 0 75px #49ff18;
    font-size: 2em;
    animation: display3 3s 90s;
    /* display: none; */
}